* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: url(https://c4.wallpaperflare.com/wallpaper/829/249/298/minimalism-4k-hq-desktop-download-wallpaper-preview.jpg) center / cover;
}

/* Center and style the logo */
.logo-name {
    text-align: center;
    margin: 1rem 0;
}

.logo-name h1 {
    font-size: 2rem;
    color: #fff;
}

/* Style for the navigation bar */
#topnav {
    position: fixed;
    width: 18vw;
    height: 90vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #000;
    padding: 2rem 1rem;
    z-index: 10;
}

/* Adjust padding to make links bigger */
#topnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topnav ul li {
    margin-bottom: 15px;
    padding: 20px 40px;
    font-size: 1.3rem;
    background: rgba(15, 100, 29, 0.6);
    border-radius: 20px;
    width: 100%;
    max-width: 250px;
    transition: background 0.3s, border-radius 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#topnav ul li:hover {
    background: rgba(29, 8, 46, 0.4);
    border-radius: 10px;
}


main.table {
    flex-grow: 1;
    width: calc(100vw - 20vw - 4rem);
    height: 90vh;
    background-color: rgba(233, 158, 158, 0.333);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    margin: 2rem 1rem 1rem calc(18vw + 3rem);
    padding: 1rem;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.532);
}

.table_header {
    width: 100%;
    min-height: 4rem;
    background-color: #fff4;
    padding: .8rem 1rem;
    border-radius: 10px;
}

.table_body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar {
    width: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

@media (max-width: 1440px) {
    main.table {
        width: calc(100vw - 22vw - 2rem);
        margin-left: calc(18vw + 1.5rem);
    }

    td:not(:first-of-type) {
        min-width: 10rem;
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transform: scale(1.5);
    margin: 0;
}

.action-button {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #e60000;
}
